@import "_variables";

article {
             display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        
             div{
                     text-align: center;
                     box-shadow: $estiloCaja;
                     margin: $margenCaja;
                 img {
                        width: 500px;
                        height: 500px;
                    }
                     
                        
                         a {
                             color: red;
                             font-size: $tamanoFuente;
                             text-decoration: none;
                             text-transform: uppercase;

                             &:hover {
                                 color: white;
                                 background-color: black;
                                 
                             }
                            }
                             
                      
         
                }
 }
        
    