@import "_variables";

/*Noticias.html*/
.fechasflex {
             display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        
             div{
                     text-align: center;
                     box-shadow: $estiloCaja;
                     margin: $margenCaja;
                 img {
                        width: 500px;
                        height: 500px;
                    }
                     
                        
                         a {
                             color: red;
                             font-size: $tamanoFuente;
                             text-decoration: none;
                             text-transform: uppercase;

                             &:hover {
                                 color: white;
                                 background-color: black;
                                 
                             }
                            }
                             
                      
         
                }
 }
        
    @mixin recuadroNoticias ($fondo,$color) {
        background-color: $fondo;
        color: $color;
        height: 15%;
        width: 30%;
        margin-top: 5vh;
        text-align: center;
     
    }

    .noticia {
        @include recuadroNoticias(#000,#ffff)
    }

    .noticia-2 {
        @include recuadroNoticias(#808080,#ffff)
    }

    .noticia-3 {
        @include recuadroNoticias(#000,#ffff)
    }

    /*Index.html*/
    .proximoRecital {
        @extend .noticia;
       margin-left: 30%;
        width: 45%;
    }

    /*Mapa*/
    $colores:(blanco:#ffff,negro:#000,beigge:#F5F5DC);

    .fondoMerch {
        background-color: map-get($colores,beigge );
    }